
<style>
    body{
        background-color:#03acf0;
        background-image:url(https://images.hdqwalls.com/wallpapers/misty-mountains-abstract-5k-27.jpg);
        background-repeat:no-repeat;
        background-position:top left;
        display: list-item;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 20px;
    }
    
    button {
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
        margin-left: 10px; 
        color: white;
        background-color: rgb(28, 102, 84);
        border-style: solid;
        border-radius: 10px;
        width: 150px;
        min-height: 70px;
        margin-top: 30px;
        transition: background-color 0.15s;
        transition: width 0.3s;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        
        line-height: 15px;
        
    }
    
    button:hover {
        background-color: rgb(3, 31, 20);
        border-width: 2px;
        width: 160px;
    }
    h1{
        text-align:center;
        font-family:
        'Trebuchet MS', sans-serif, serif;
        letter-spacing: px;color:#FFFFFF;
        font-size:90px;
    }
    .hedding{
        min-width: 300px;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    .buttons{
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        align-items:center;
        max-width: 680px;
        border-radius: 10px;
        margin-top: 0px;
        padding-top: 10px;
        padding-bottom: 40px;
    }

</style>

<div class="main">
    <div class="hedding">
        <h1>select your subject</h1>
    </div>
    
    <div class="buttons">
            <a href="Math/Unit_1"><button>Math ( Calculus and Linear Algebra )</button></a>
            <a href="Phy"><button>EEE ( Electrical and Electronics Engineering</button></a>
            <a href="Che"><button>Chemistry</button></a>
            <a href="Scp/Unit_1"><button>Semiconductor Physics</button></a>
            <button>PPS ( Programming for Problem Solving ) </button>
            <button>Object Oriented Design and Programming</Object></button>
            <a href="EGD/week1"><button>EGD ( Engineering Graphics and Design )</button></a>
            <button>Chinese</button>
            <button>French</button>
            <button>German</button>
            <button>Japanese</button>
            <button>Korean</button>
            <button>Spanish</button>
    </div>
</div>
