
<style>
    body{
        background-color:#03acf0;
        background-image:url(https://images.hdqwalls.com/wallpapers/misty-mountains-abstract-5k-27.jpg);
        background-repeat:no-repeat;
        background-position:top left;
        display: list-item;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 20px;
    }
    
    button {
        margin: 0;
        margin-left: 10px; 
        color: white;
        background-color: rgb(28, 102, 84);
        border-style: solid;
        border-radius: 10px;
        width: 150px;
        height: 40px;
        margin-top: 30px;
        transition: background-color 0.15s;
    }
    
    button:hover {
        background-color: rgb(3, 31, 20);
        border-width: 2px;
    }
    h1{
        text-align:center;
        font-family:
        'Trebuchet MS', sans-serif, serif;
        letter-spacing: px;color:#FFFFFF;
        font-size:90px;
    }
</style>

<h1>select your subject</h1>
<a href="Math"><button>Math</button></a>
<a href="Phy"><button>Physics</button></a>
<a href="Che"><button>Chemistory</button></a>
